<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.aniruddh.pixel.camera"
        version   = "1.0.0">

    <name>Pixel Camera</name>

    <description>
        Pixel Camera Application for Windows Phone 8, Android.
        iOS currently not supported by us. 
        Developed by Aniruddh Chandratre
    </description>

    <author href="http://www.pixelrom.tk" email="aniruddh.chandratre@gmail.com">
        PhoneGap Team
    </author>

    <preference name="phonegap-version" value="3.0.0" /> 

    <gap:plugin name="org.apache.cordova.core.camera" />
</widget>
